.logo{
  text-align:center;
}

.logo img{
    height:200px;
}

  /*
    Dont Copy this section: web edition exclusive!
    */
   /*
    End of no copy section
   */

body{
    background-image:url(images/background.png)
}

h1{
    text-align:center;
}

.button{
    text-align:center;

}
